
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <spam class="fas fa-user"></spam> Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)"><spam class="fas fa-plus"></spam> Crear Nuevo</button>
            </div>
        </div>

        <hr />
        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="formulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row  g-2">
                    <div class="col-sm-6">
                        <input id="txtId" type="hidden" />
                        <label for="txtNombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtNombres" placeholder="Nombres" autocomplete="off" />
                    </div>
                    <div class="col-sm-6">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos" placeholder="Apellidos" autocomplete="off" />
                    </div>
                    <div class="col-sm-6">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtCorreo" placeholder="Correo" autocomplete="off" />
                    </div>
                    <div class="col-sm-6">
                        <label for="rdActivo" class="form-label">Activo</label>
                        <select class="form-select" id="rdActivo">
                            <option value="1">Si</option>
                            <option value="0">No</option>

                        </select>
                    </div>
                </div>
                <div class="row col-12 mt-2">
                    <div id="mensajeError" class="alert alert-danger" role="alert">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="guardarUsuario()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
@section scripts{
    <script>
        var tabladata;
        var filaSeleccionada;




        tabladata = $("#tabla").DataTable({

            responsive: true,
            ordering: false,
            "ajax": {
            url: '@Url.Action("ListarUsuarios","Home")',
            type: "GET",
            dataType: "json"
            },
            "columns": [
                { "data": "Nombres" },
                { "data": "Apellidos" },
                { "data": "Correo" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) return '<span class="badge bg-success">Si</span>'
                        else return '<span class="badge bg-danger">No</span>'
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><spam class="fas fa-pen"></spam></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><spam class="fas fa-trash"></spam></button>',
                    "orderable": false,
                    "searchable": false,
                    "width":"90px"
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        }
        );
       function abrirModal(json) {
            $("#mensajeError").hide();
            json == null ? $("#txtId").val(0) : $("#txtId").val(json.IdUsuario);
            json == null ? $("#txtNombres").val("") : $("#txtNombres").val(json.Nombres);
            json == null ? $("#txtApellidos").val("") : $("#txtApellidos").val(json.Apellidos);
            json == null ? $("#txtCorreo").val("") : $("#txtCorreo").val(json.Correo);
            json == null ? $("#rdActivo").val(1) : $("#rdActivo").val(json.Activo == true ? 1 : 0);
            $("#formulario").modal("show");
        }
        function guardarUsuario() {
            var Objeto = {
                IdUsuario: $("#txtId").val(),
                Nombres: $("#txtNombres").val(),
                Apellidos: $("#txtApellidos").val(),
                Activo: $("#rdActivo").val()==1?true:false,
                Correo: $("#txtCorreo").val()
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Home")',
                type: "POST",
                data: JSON.stringify({ usuario: Objeto }),
                dataType:"json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide")
                    //USUARIO NUEVO
                    if (Objeto.IdUsuario == 0) {
                        if (data.resultado != 0) {
                            Objeto.IdUsuario = data.resultado;
                            tabladata.row.add(Objeto).draw(false);
                            $("#formulario").modal("hide");

                        }
                        else {
                            $("#mensajeError").html(data.mensaje);
                            $("#mensajeError").show();
                            $("#formulario").modal("show");
                        }

                    }
                    //USUARIO EDITAR
                    else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Objeto).draw(false);
                            filaSeleccionada = null;
                            $("#formulario").modal("hide");

                        }
                        else {
                            $("#mensajeError").html(data.mensaje);
                            $("#mensajeError").show();
                            $("#formulario").modal("show");
                        }

                    }

                },
                error: function (error) {
                    console.log(error)
                    $(".modal-body").LoadingOverlay("hide")
                    $("#mensajeError").html("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    //Realizar algo durante la ejecucion
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 1,
                        text: "Cargando..",
                        size:14
                    })
                },
            });







        }
        function cerrarModal() {
            $("#formulario").modal("hide");
        }
        $("#tabla tbody").on("click", ".btn-editar", function () {
             filaSeleccionada = tabladata.row($(this).closest("tr")).data();
            abrirModal(filaSeleccionada);
        })
        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var usuarioSeleccionado = tabladata.row($(this).closest("tr")).data();
            var idUsu = usuarioSeleccionado.IdUsuario;
            swal({
                title: "¿Estas Seguro?",
                text: "¿Deseas eliminar el usuario?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText:"No",
                closeOnConfirm: false
            },
                function () {
                    jQuery.ajax({
                    url: '@Url.Action("Eliminar", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: idUsu }),
                    dataType:"json",
                   contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabladata.row(usuarioSeleccionado).remove().draw();


                                swal("Eliminado!", "Your imaginary file has been deleted.", "success");
                            } else {
                                swal("No se pudo eliminar!", data.mensaje, "error");

                            }
                         },
                         error: function (error) {
                             console.log(error)

                         },
                         beforeSend: function () {
                             //Realizar algo durante la ejecucion


                         },
                     });
                  


                });

        })


        /*https://www.youtube.com/watch?v=6NEkGOTa9w8&list=PLx2nia7-PgoDptcrh4k4ZStjpVLZbS7rU&index=13&ab_channel=CodigoEstudiante    17:35*/
    </script>
}